<div class="mes-projets-chef">

   <h4><i class="fas fa-list"></i> Mes projets affectés</h4>

    <p *ngIf="projets.length === 0">Vous n'avez aucun projet affecté.</p>

    <div class="search-bar" *ngIf="projets.length > 0">
      <div class="input-icon">
        <i class="fas fa-search"></i>
        <input
          type="text"
          [(ngModel)]="searchCode"
          placeholder="Recherche par code projet"
          class="input-search"
        />
      </div>
    </div>



    <table *ngIf="projets.length > 0">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Code</th>
        <th>Chef de projet</th>
        <th>Date de création</th>
        <th>Date limite</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let projet of projets |

      filter:searchCode:'codeProjet'">
        <tr>
          <td>{{ projet.nomProjet }}</td>
          <td>{{ projet.codeProjet }}</td>
          <td>{{ nomChef }}</td>
          <td>{{ projet.dateCreation | date: 'dd/MM/yyyy' }}</td>
          <td>{{ projet.dateLimite | date: 'dd/MM/yyyy' }}</td>
        </tr>

        <tr *ngIf="projet.description" class="details-row">
          <td colspan="5">
            <button class="btn-secondary" (click)="afficherDescription(projet)">
              <i
                class="fas"
                [ngClass]="
                  projet.showDescription ? 'fa-eye-slash' : 'fa-eye'
                "
              ></i>
              {{ projet.showDescription
              ? 'Masquer la description'
              : 'Afficher la description du projet' }}
            </button>

            <p *ngIf="projet.showDescription" style="margin-top: 10px;">
              📝 <strong>Description :</strong> {{ projet.description }}
            </p>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  <div class="retour-containerMesPr">
    <button class="btn-grey" (click)="retourMenu()">
      <i class="fas fa-arrow-left"></i> Retour au menu
    </button>
  </div>

  </div>

