<!-- src/app/components/admin/admin.component.html -->
<div class="admin-dashboard">
  <!-- Header -->
  <header class="admin-header">
    <div class="left-section">
      <i class="bi bi-person-circle"></i>
      <span>Bienvenue dans votre espace Admin</span>
    </div>
    <div class="right-section">
      <app-notification-bell [destinataire]="'admin'"></app-notification-bell>

    </div>
  </header>

  <!-- Sidebar toggle button -->
  <button class="menu-toggle" (click)="toggleSidebar()">
    <i class="bi bi-list"></i>
  </button>

  <div class="admin-layout">
    <!-- Sidebar -->
    <nav class="sidebar" [class.open]="sidebarOpen">
      <ul>
        <li (click)="goToGestionAppels()">
          <i class="bi bi-file-earmark-text"></i> Créer un appel d'offre
        </li>
        <li (click)="goToCreationProjetcts()">
          <i class="bi bi-folder-plus"></i> Création de projet
        </li>

      </ul>
    </nav>

    <!-- Dashboard Content -->
    <main class="dashboard-content">
      <div class="stats-card">
        <div class="card">
          <i class="bi bi-journal-text"></i>
          <h4>Appels d’Offres en cours</h4>
          <p>{{ compteurEnCours }}</p>
        </div>
        <div class="card">
          <i class="bi bi-check2-square"></i>
          <h4>Projets créés</h4>
          <p>{{ compteurProjets }}</p>
        </div>
      </div>
    </main>
  </div>

  <!-- Logout button -->
  <div class="logout-btn" (click)="logout()">
    <i class="bi bi-box-arrow-right"></i> Se déconnecter
  </div>



</div>
