.login-card {
  border-radius: 1rem;
  border-top: 4px solid #b00508;
  background-color: #fff;
}

.logo-icon {
  font-size: 3rem;
  color: #b00508;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: gray;
  font-size: 1.2rem;
}

input.form-control {
  padding-left: 2.5rem;
  border-radius: 0.5rem;
}
